.sales-container {
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #c92424;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #c92424;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.form-button {
    margin-top: 10px;
}

.form-button button {
    background-color: #3498db;
}

.form-button button:hover {
    background-color: #2980b9;
}

.insert-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.insertbutton-container{
    min-width: 100%;
}

.update-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.updatebutton-container{
    min-width: 100%;
}

.deletebutton-container{
    min-width: 100%;
}

.pagebutton-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.pagebuttonone-container{
    min-width: 100%;
}

.pagebuttontwo-container{
    min-width: 100%;
}




